@use "@material/theme" with (
	$primary: #f57f17,
	$secondary: #aeea00,
	$surface: #ffffff,
	$background: #eeeeee
);
@use "@material/typography/mdc-typography";
@use "@material/top-app-bar";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/mdc-icon-button";
@use "@material/icon-button/styles";
@use "@material/drawer";
@use "@material/list";
@use "@material/card";
@use "@material/dialog";
@use "@material/ripple";
@use "@material/data-table/data-table-theme" with (
	$header-row-fill-color: #ffb04c
);
@use "@material/data-table/data-table";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;
@include card.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;
@include dialog.core-styles;

.mdc-top-app-bar {
	@include top-app-bar.ink-color(#ffffff);
	@include top-app-bar.icon-ink-color(#ffffff);
}

body {
	display: flex;
	height: 100vh;
	background-color: var(--mdc-theme-background, #eeeeee);
}

.mdc-drawer-app-content {
	flex: auto;
	overflow: auto;
	position: relative;
}

.main-content {
	overflow: auto;
	height: 100%;
}

.app-bar {
	position: absolute;
}

.mdc-top-app-bar {
	z-index: 7;
}

.app-card-content {
	padding: 16px;
}

.app-counter-card {
	width: 452px;
	height: 400;
}

.app-card-content h6 {
	margin-block: unset;
}

.app-uptime-card {
	width: 488px;
	height: 400;
}

.mdc-list-item {
	display: flex;
	position: relative;
	height: 41px;
}

.mdc-list-item__text {
	padding-left: 10px;
}

.mdc-button {
	float: right;
}

.mdc-data-table {
	height: 100vh;
	width: 100vw;
}

.collapse {
	display:none;
}

.mdc-dialog {
	position: fixed;
	top: -29.5%;
	padding: 0px;
	justify-content: flex-end;
}

.mdc-list-item {
	display: flex;
	position: relative;
	height: 41px;
}

.mdc-dialog__container {
	pointer-events: auto;
}

.mdc-list-item__tel {
	display: inline-block;
	margin-left: 60px;
	text-align: right;
}

.mdc-list-item__text {
	padding-left: 10px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.mdc-button {
	float: right;
}

.mdc-icon-button {
	float: right;
}
